/* Стили информации "Шапки" */
.header-information {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-information h1 {
    font-size: 30px;
    font-weight: bold;
}

.header-information img {
    height: 100px;
}